@model GerenciamentoTarefas.Models.DoLoginViewModel

<div class="container">
	<div class="card p-5 shadow-lg" style="background-color: rgba(255, 255, 255, 0.5);">
		<div class="row">
			<div class="col-4 pt-5 border-end border-dark">
				<div class="row">
					<div class="col-12 mb-5 text-center">
						<h1 class="fw-bold text-black">BEM VINDO</h1>
					</div>
					<div class="col-12 ms-2">
						<h2 class="fw-bold text-black"><u>Novo</u> Login</h2>
					</div>
					<div class="col-12 p-5 justify-content-center">
						<button class="btn btn-primary">Criar Conta</button>
					</div>
				</div>
			</div>
			<div class="col-8 pt-5">
				<div class="row">
					<div class="col-12 mb-4 text-center">
						<h2 class="fw-bold text-black">FAÇA LOGIN</h2>
					</div>
					<form method="post">
						<div class="col-12 mb-2 text-center">
							<input class="rounded-4" type="text" placeholder="Coloque seu E-mail" minlength="10" type="email" asp-for="Email" />
						</div>
						<div class="col-12 mb-1 text-center">
							<input class="rounded-4" type="text" placeholder="Coloque sua Senha" minlength="6" type="password" asp-for="Senha" />
						</div>
						<div class="col-12 d-flex justify-content-center align-items-center mb-4">
							<input type="checkbox" /><span>Lembrar</span>
							<a href="" class="text-decoration-underline ms-3">Esqueceu Senha?</a>
						</div>
						<div class="col-12 d-flex justify-content-center align-items-center">
							<button class="btn btn-success" type="submit">Entrar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
