<div class="container">
	<div class="card p-5 shadow-lg" style="background-color: rgba(255, 255, 255, 0.5);">
		<div class="row">
			<div class="col-12 mb-4 text-center">
				<h2 class="fw-bold text-black">Se Registre</h2>
			</div>
			<div class="col-12 mb-2 text-center">
				<label for="iptNome" class="form-label">Nome:</label>
				<input id="iptNome" class="rounded-4" type="text" placeholder="Coloque seu Nome" minlength="10" type="text" />
			</div>
			<div class="col-12 mb-2 text-center">
				<label for="iptEmail" class="form-label">Email:</label>
				<input id="iptEmail" class="rounded-4" type="text" placeholder="Coloque seu E-mail" minlength="10" type="email"/>
			</div>
			<div class="col-12 mb-1 text-center">
				<label for="iptSenha" class="form-label">Senha:</label>
				<input id="iptSenha" class="rounded-4" type="text" placeholder="Coloque sua Senha" minlength="6" type="password"/>
			</div>
			<div class="col-12 mb-1 text-center">
				<input id="iptConfirm" class="rounded-4" type="text" placeholder="Confirme a sua Senha" minlength="6" type="password" />
			</div>
			<div class="col-12 d-flex justify-content-center align-items-center">
				<button class="btn btn-success">Se Registrar</button>
			</div>
		</div>
	</div>
</div>
